
body {
  background-color: white;
  color: lightseagreen;
  font-family: 'Raleway', sans-serif;
  margin: 10px 20px 10px 20px;
  min-width: 600px;
}

h1 {
  color: lightseagreen;
  font-size: 36px;
  font-family: 'Poiret One';
  font-weight: bold;
}

p, li {
  font-size: 20px;
}

a {
  color: lightseagreen;
}

/* Applies to name banner in header */
#header {
  border: 2px solid palegreen;
  padding: 20px;
  font-size: 100px;
  font-weight: bold;
  min-width: 600px;
  text-align: center;
  font-family: 'Josefin Slab';
}

/* Applies to the entire navigation bar */
#navigation {
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Poiret One';
  min-width: 600px;
}

/* Applies to individual <a> elements in the navigation bar */
#navigation a:link {
    background-color:  #eafaf1 ;
    color: lightseagreen;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
#navigation a:hover, a:active {
    background-color: #a9dfbf ;
    text-decoration: none;
    color: white;
    display: inline-block;
}


#bio {
  border-bottom: 1px solid palegreen;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 15px 50px 15px 50px;
}
